div{
    background-color: aqua;
    height: 200px;
    width: 200px;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode:both;
    animation-timing-function: linear;
}

@keyframes example{
    0% {background-color: blueviolet;
        top: 0px;
        left:0px;
    }
    25% {background-color: rgb(89, 199, 55);
        top: 0px;
        left: 300px;
    }
    50% {background-color: rgb(42, 106, 165);
        top: 300px;
        left: 300px;
    }
    75% {background-color: rgb(150, 41, 152);
        left: 0px;
        top: 300px;
    }
    100% {background-color: rgb(165, 142, 42);
        top: 0px;
        left: 0px;
    }
}